* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body {
    background: linear-gradient(to right, #11cbbb, #2575fc);
}
header {

}
main {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px;
    text-align: center;
}

h1 {
    margin: 0 0 20px;
    font-size: 2.5em;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 40px 0px;
    color: #000;
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #11cbbb;
    color: #fff;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

td, tr {
    background-color: #fff;
}

td:hover {
    background-color: #f2f2f2;
    transform: translateY(-3px);
}
td a{
    text-decoration: none;
    color: inherit;
}

button {
    background-color: #2575fc;
    border: none;
    padding: 15px 30px;
    margin: 10px;
    font-size: 1.2em;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button a {
    text-decoration: none;
    color: inherit;
}

button:hover {
    background-color: #11cbbb;
    transform: translateY(-3px);
}