:root{
    --color-white: #fff;
    --color-dark1: rgb(39, 39, 39);
    --color-dark2: #2d2d2d;
    --color-dark3: #414141;
    --color-dark4: #1c1c1c;
    --color-dark5: #343434;
    --color-purple: #b040ff;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-dark1);
    color: var(--color-white);
    background-color: 0 4px 8px rgba(0, 0, 0, 0.2);
}
html::-webkit-scrollbar{
    display: none;
}
.img_logo_header{
    width: 45px;
    border-radius: 100%;
}
.header, .navigation_header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header{
    background-color: var(--color-dark2);
    justify-content: space-between;
    padding: 0 10%;
    height: 3.5em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}
.content{
    padding-top: 5em;
    text-align: center;
    height: 100vh;
    transition: 1s;
}
.active{
    background: var(--color-dark3);
    padding: 10px;
    border-radius: 10px;
}
/*--------------------------------------------------------------------------------------------*/


.navigation_header{
    position: absolute;
    flex-direction: column !important;
    top: 0;
    background: var(--color-dark4);
    height: 110%;
    width: 20vw;
    padding: 1em;
    animation-duration: 1s;
    margin-left: -100vw;
    gap: 3em;
    z-index: 2;
}
.navigation_header a{
    text-decoration: none;
    color: var(--color-purple);
    transition: 1s;
    font-weight: bold;
}
.navigation_header a:hover{
    color: var(--color-white);
}

.btn_icon_header{
    background: transparent;
    border: none;
    color: var(--color-white);
    cursor: pointer;
    display: block;
}
@keyframes showSidebar {
    from {margin-left: -100vw;}
    to {margin-left: -10vw;}
}
main {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px;
    text-align: center;
}

h1 {
    margin: 0 0 20px;
    font-size: 2.5em;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 40px 0px;
    color: #000;
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #b040ff;
    color: #fff;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

td, tr {
    background-color: #fff;
}

td:hover {
    background-color: #f2f2f2;
    transform: translateY(-3px);
}
td a{
    text-decoration: none;
    color: inherit;
}

.btn {
    background-color: #1c1c1c;
    border: none;
    padding: 15px 30px;
    margin: 10px 0;
    font-size: 1.2em;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn a {
    text-decoration: none;
    color: inherit;
}

.btn:hover {
    background-color: #b040ff;
    transform: translateY(-3px);
}

.btn {
    width: calc(100% - 20px);
    margin: 0 auto;
}