*
{
    margin: 0;
    padding: 0;
    font-family: 'Inter Tight', sans-serif;
    font-family: 'Montserrat', sans-serif;
}
body
{
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
}
main
{
    width: 100%;
    height: 100%;
    
}
header
{
    background-color: #007bff;
    color: red;
    padding: 10px;
    text-align: center;
}
/* Estilos para o botão de menu */
#menu-button {
    background-color: transparent;
    border: none;
    font-size: 50px;
    cursor: pointer;
    color: black;
}

/* Estilos para o menu */
#menu {
    display: none;
    background-color: #f9f9f9;
    padding: 10px;
    transition: transform 0.3s ease; /* Adicionamos uma transição suave */
}

#menu.open {
    display: block;
    transform: translateY(0); /* Animação de deslizamento para cima */
}

/* Estilos para o formulário */
.container {
    max-width:250px;
    margin: 0 auto;
    margin-top: 10%;
    padding: 20px;
    border: 1px solid rgb(29, 255, 29);
    background-color:   black;
    border-radius: 5px;
}
#FormCad
{
    color: white;
    font-size: 22px;
}
label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], select {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
#name
{
    margin-top: 10%;
    color: white;
}
#estado[type="text"], select
{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: white;
}
#estado-1
{
    margin-top: 10%;
    color: white;
}
#enviar 
{
    background-color: rgb(6, 255, 6);
    border-radius: 10%;
    font-size: 25px;
}